html, body {
  margin: 0;
  background: #81FBB8;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.small-text {font-size: 1.2em;}

.big-text {
  font-size: 1.9em;
}

.fat-text {
  font-weight: bold;
  font-size: 1.8em;
}

.home-pollution {
  text-align: left;
  padding: 11px 22px 20px;
}

.globe {
  margin: 0 auto;
  background-color: white;
  border-radius: 100%;
}

select {
  outline: 0;
  font-size: 1.1em;
  background-color: white;
  height: 42px;
  width: 60%;
  color: #28C76F;
  padding: 5px 20px;
  font-family: 'Ubuntu', sans-serif;
  margin-right: 13px;
  border-radius: 16px;
}

/* select option:hover {
  color: #000; 
  background-color: green;
} */

.input-number-box{
  height: 42px;
  display: inline-flex;
  color: #28C76F;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 19px;
  width: 40%;
  background-color: white;
  border-radius: 16px;
}

.footprint {
  margin: 0 auto;
  top: 12%;
  width: 65%;
  position: relative;
  display: block;
  filter: hue-rotate(0);
  transition: filter 1s;
}

.nav-bar {
  display:flex;
  flex-direction:row;
  padding-bottom: 20px;
  padding-top: 25px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: #28C76F;
  bottom: 0;
}

.nav-link {
  width:25%;
  height:50px;
  text-align:center;
  color:yellow;
  background-color:blue;
  border:1px solid black;
}

.nav-icon {width: 18%;top: 50%;}

.nav-icon img {max-width: 70px;max-height: 100%;/* top: 50%; *//* transform: translateY(-50%); *//* width: 75%; */margin: 0 auto;display: block;}

.content {
  padding: 24px;
  /* text-align: center; */
}

.title {
  margin-bottom: 30px;
}

.title span {
    margin-left: 22px;
    bottom: 15px;
    position: relative;
}

.title img {width: 60px;max-height: 100%;max-width: 100%;}

.main {
  padding: 25px 0;
}

.home-button {
  width: 20%;
  margin: -49px auto 0;
}

.home-button img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.center {
  text-align: center;
}

.input-title {
  margin-bottom: 10px;
  margin-top: 23px;
}

.modal {
  width: 80%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  left: calc(10% - 30px);
  top: 100px;
  background-color: rgba(1,1,1,0.85);
}


hr{
  margin: 24px 0;
  border-color: #28C76F;
  border-width: 0.5px;
}

.input-row {
  display: flex;
  flex-grow: 1;  
}

.input-number-button {
  font-size: 23px;
  cursor: pointer;
  text-align: center;
}

.food-type {
  justify-content: space-between;
  display: flex;
  /* margin-bottom: 20px; */
}

.food-type span {
  font-size: 1.4em;
  font-weight: bold;
  /* margin-right: 16px; */
  line-height: 34px;
}

.tip-text {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 8px;
}

input {
  padding: 6px 7px;
  border: 0;
  font-size: 1.4em;
  border-radius: 4px;
  text-align: right;
}

input[type=number] {
  width: 61px;
  height: 28px;
  border-radius: 0 13px 13px 0;
  background-color: #EFEEE4;
}

button {
  padding: 15px 20px;
  border-radius: 38px;
  border: 0;
  width: 100%;
  background-color: #28C76F;
  color: white;
  /* font-weight: bold; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  cursor: pointer;
}

.energy-bars{display: flex;flex-direction: row;margin: 20px 0 20px;align-items: flex-end;/* max-width: 103px; */justify-content: space-evenly;}	

.energy-bar {width: 12%;max-width: 49px;border-radius: 16px;background-color: #28C76F;box-shadow: hsl(0, 0%, 58%) 1px 1px 9px 0px;}	


.energy-img {	
  width: 48%;	
  margin-bottom: 10px;	
  /* margin: 0 auto; */	
}	

.energy-flex {	
  flex-wrap: flex;	
}	


.info-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  /* width: 80%; */
  /* margin: 0 auto; */
  margin-bottom: 50px;
  /* color: black; */
}

.info-box {
  background-color:#28C76F;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 20px;
}

.info-text {
  text-align: left;
}
