html, body {
  margin: 0;
  background: #81FBB8;
  color: #EFEEE4;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.small-text {font-size: 1.3em;}

.big-text {
  font-size: 1.9em;
}

.fat-text {
  font-weight: bold;
  font-size: 2em;
}

.home-pollution {
  text-align: left;
  padding: 0 85px 20px;
}

.globe {
  margin: 0 auto;
  background-color: white;
  border-radius: 100%;
}

select {
  font-size: 1.3em;
  background-color: #EFEEE4;
  height: 40px;
  padding: 6px 7px;
  flex-grow: 20;
  border: 0;
  border-radius: 13px 0 0 14px;
}


.footprint {
  margin: 0 auto;
  top: 12%;
  width: 65%;
  position: relative;
  display: block;
  filter: hue-rotate(0);
  transition: filter 1s;
}

.nav-bar {
  display:flex;
  flex-direction:row;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.nav-link {
  width:25%;
  height:50px;
  text-align:center;
  color:yellow;
  background-color:blue;
  border:1px solid black;
}

.nav-icon {width: 20%;}

.nav-icon img {max-width: 100%;max-height: 100%;/* width: 75%; */margin: 0 auto;display: block;}

.content {
  text-align: center;
}

.main {
  padding: 25px 0;
}

.home-button {
  border-radius: 100%;
  position: fixed;
  background: white;
  bottom: 20px;
  /* background-image: url(); */
  width: 75px;
  left: calc(50% - 38px);
  height: 75px;
}

h1 {
  text-decoration: underline;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.modal {
  width: 80%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  left: calc(10% - 30px);
  top: 100px;
  background-color: rgba(1,1,1,0.85);
}

.food-input {
  display: flex;
  flex-grow: 1;
}

hr{
  margin: 24px 0;
}

.food-type {
  justify-content: space-between;
  display: flex;
  /* margin-bottom: 20px; */
}

.food-type span {
  font-size: 1.4em;
  font-weight: bold;
  /* margin-right: 16px; */
  line-height: 34px;
}

input {
  padding: 6px 7px;
  border: 0;
  font-size: 1.4em;
  border-radius: 4px;
  text-align: right;
}

input[type=number] {
  width: 61px;
  height: 28px;
  border-radius: 0 13px 13px 0;
  background-color: #EFEEE4;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  width: 100%;
  background-color: #EFEEE4;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.1s;
  box-shadow: grey 2px 2px 3px;
}

button:hover {
  background-color: #e2e0d1;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.info-box {
  width: 45%;
  height: 85px;
  background-color:hotpink;
  margin-bottom: 14px;
  text-align: center;
  /* vertical-align: text-top; */
}
